<!DOCTYPE html>
<html>
<head>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="css/style.css"  media="screen,projection"/>
<meta charset="UTF-8"/>
<title>Insert title here</title>
</head>
<body>

	<!-- Fragment court -->
	<div th:fragment="event">
		
		<style>
				.white-text-court {
					height: 150px;
				}
				.black-text-court {
					height: 250px;
				}
				h3 {
					white-space : nowrap;
					overflow: hidden;
					text-overflow: ellipsis;
					font-size: 35px;
				}
			</style>
		
		<div class="card light-blue lighten-3" th:if="${item.class.name == 'fr.cephee.unilille.model.PublicationEvent'}">
				
				<div class="card-content white-text white-text-court">
					<span style="font-size: 20px; float: right;"
						th:if="${item.class.name == 'fr.cephee.unilille.model.PublicationEvent'}" th:text="#{publi.event}"></span>
					<span style="font-size: 20px; float: right;"
						th:if="${item.class.name == 'fr.cephee.unilille.model.PublicationProject'}" th:text="#{publi.proj}"></span>
					<span style="font-size: 20px; float: right;"
						th:if="${item.class.name == 'fr.cephee.unilille.model.PublicationAnnonce'}" th:text="#{publi.anno}"></span>
					<h3 th:text="${item.title}"></h3>


					<span style="font-size: 20px;"
						th:text="#{publi.auteurCrea} + ${item.author.displayname}"></span> <span
						style="font-size: 20px; float: right;"
						th:text="#{publi.dateCrea} + ${#dates.format(item.dateCreation, 'dd-MM-yyyy')}"></span> <br></br>
				</div>

					<!-- Evenements -->
					<div class="card-content black-text black-text-court" style="background-color: white;"
						th:if="${item.class.name == 'fr.cephee.unilille.model.PublicationEvent'}">
						<i class="material-icons">access_time</i> <span
							th:text="#{publi.date} + ${item.startevent}"></span> <br></br>
						<i class="material-icons">location_on</i> <span
							th:text="#{publi.lieu} + ${item.location}"></span> <br></br>
						<i class="material-icons">people</i> <span
							th:text="#{publi.particip} + ${item.nbparticipant}">
						</span>
						<h5 th:text="#{publi.descr}"></h5>
						<p th:text="${item.content}"></p>
					</div>

				<div class="card-action" style="background-color: white;"><a
						th:href="@{/seedetailspublication(id=${item.id})}" th:text="#{publi.voirParti}"></a> 
						<a th:text="#{publi.signa}"></a>
				</div>
				
			</div>
		
	</div>
	
	<!-- Fragment long -->
	<div th:fragment="eventLong">
			<div class="card light-blue lighten-3" th:if="${item.class.name == 'fr.cephee.unilille.model.PublicationEvent'}">
						
							<div class="card-content white-text">
								<span style="font-size: 20px; float: right;"
									th:if="${item.class.name == 'fr.cephee.unilille.model.PublicationEvent'}" th:text="#{publi.event}"></span>
								<span style="font-size: 20px; float: right;"
									th:if="${item.class.name == 'fr.cephee.unilille.model.PublicationProject'}" th:text="#{publi.proj}"></span>
								<span style="font-size: 20px; float: right;"
									th:if="${item.class.name == 'fr.cephee.unilille.model.PublicationAnnonce'}" th:text="#{publi.anno}"></span>
								<h3 th:text="${item.title}"></h3>
			
			
								<span style="font-size: 20px;">
									<a th:href="@{/profile(displayname=${item.author.displayname})}" th:text="#{publi.auteurCrea} + ${item.author.displayname}"></a>
								</span>
								<span
									style="font-size: 20px; float: right;"
									th:text="#{publi.dateCrea} + ${#dates.format(item.dateCreation, 'dd-MM-yyyy')}">
								</span> <br></br>
								<i class="material-icons">school</i>
								<span th:text="#{publi.cat}"></span>
								<ul>
									<th:block th:object="${item}"
										th:each="it : ${item.category}">
										<li th:text="${it.title}"></li>
									</th:block>
								</ul>
							</div>
							<div style="background-color: white;">
			
								<!-- Evenements -->
								<div class="card-content black-text"
									th:if="${item.class.name == 'fr.cephee.unilille.model.PublicationEvent'}">
									<i class="material-icons">access_time</i> <span
										th:text="#{publi.date} + ${#dates.format(item.startevent, 'dd-MM-yyyy')}"></span> <br></br>
									<i class="material-icons">location_on</i> <span
										th:text="#{publi.lieu} + ${item.location}"></span> <br></br>
									<i class="material-icons">people</i> <span
										th:text="#{publi.particip} + ${item.nbparticipant}">
									</span>
									<h5 th:text="#{publi.descr}"></h5>
									<p th:text="${item.content}"></p>
								</div>
			
							</div>
		
						<div class="card-action" style="background-color: white;"><a
								th:href="@{/seedetailspublication(id=${item.id})}" th:text="#{publi.voirParti}"></a> 
								<a th:text="#{publi.signa}"></a>
						</div>
						
					</div>
	</div>

</body>
</html>