<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>

	<footer th:fragment="footer">
		<!--Import jQuery before materialize.js-->

			<div th:style="${member.IsActivated} ? 'display:block' : 'display:none'" >
		<div class="fixed-action-btn">
			<a class="btn-floating btn-large red"> <i class="large material-icons">mode_edit</i></a>	  
			<goodvibes style="font-size: 35px;" th:text="#{foo.publi}"></goodvibes>
			<ul>
				<li>
					<a th:href="@{/checktypepublication(publicationType=project)}" class="btn-floating green">
					<i class="material-icons">widgets</i></a><p><goodvibes style="font-size: 20px" th:text="#{foo.proj}"></goodvibes></p>
				</li>
				
				<li>
					<a th:href="@{/checktypepublication(publicationType=exchange)}" class="btn-floating yellow darken-1">
					<i class="material-icons">compare_arrows</i></a><p><goodvibes style="font-size: 20px" th:text="#{foo.annon}"></goodvibes></p>
				</li>
				
				<li>
					<a th:href="@{/checktypepublication(publicationType=event)}" class="btn-floating blue">
					<i class="material-icons">event</i></a><p><goodvibes style="font-size: 20px" th:text="#{foo.even}"></goodvibes></p>
				</li>
			</ul>
			</div>
		</div>

		<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
		<script type="text/javascript" src="js/materialize.min.js"></script>
		
		<script type="text/javascript">
			function masquer_div(id) {
				document.getElementById(id).style.display = 'none';
			}

			function afficher_div(id) {
				document.getElementById(id).style.display = 'block';
			}
		</script>
	</footer>
	
	<footer class="page-footer">
          <div class="container">
            <div class="row">
            <div class="col l3 s12">
            	<img src="img/logo_univ.png"  height="66" width="195" style="margin-top:30px;"/>
            </div>
              <div class="col l4 s12">
                <h5 class="white-text">UniLille</h5>
                <p class="grey-text text-lighten-4" th:text="#{foo.text}"></p>
              </div>
              <div class="col l3 s12">
                <h5 class="white-text" th:text="#{foo.liens}"></h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="https://www.univ-lille.fr/" th:text="#{foo.univ}"></a></li>
                  <li><a class="grey-text text-lighten-3" href="https://www.univ-lille.fr/plan-contact/" th:text="#{foo.plan}"></a></li>
                  <li><a class="grey-text text-lighten-3" href="https://www.univ-lille.fr/actualites/" th:text="#{foo.actu}"></a></li>
                </ul>
              </div>
              
             <div class="col l2 s12">
              	<span th:text="#{lang.change}"></span>:
				<select id="locales" style="display: inline; color:black;">
				    <option value=""></option>
	    			<option value="en" th:text="#{lang.eng}"></option>
	    			<option value="fr" th:text="#{lang.fr}"></option>
				</select>
			
				<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js">
				</script> -->
				<script type="text/javascript">
					$(document).ready(function() {
					    $("#locales").change(function () {
					        var selectedOption = $('#locales').val();
					        var adresseActuelle = window.location;
					        var arr = adresseActuelle.toString().split("/?lang=");
					        adresseActuelle.replace(arr[0]);
					        alert(adresseActuelle);
					        if (selectedOption != ''){
					        	/* if (adresseActuelle.includes('?')){
					        		adresseActuelle = adresseActuelle.substr(0, adresseActuelle.indexOf('?'))
					        	} */
					           /*  window.location.replace('home?lang=' + selectedOption); */
					        	window.location.replace(adresseActuelle + '?lang=' + selectedOption);
					        }
					    });
					});
				</script>
              </div>
              
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2018 Team Cephee
            <a class="grey-text text-lighten-4 right" href="#!"></a>
            </div>
          </div>
        </footer>

</body>
</html>
