<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link type="text/css" rel="stylesheet" href="css/style.css"  media="screen,projection"/>

<body>

	<header th:fragment="header">
		<center>
			<goodvibes> UniLille <img src="img/logo.png" height="100" width="100" style="position:absolute;top:0;right:0" /> </goodvibes>
		</center>
		
		
		<nav>
			<div class="nav-wrapper">
				<ul id="nav-mobile" class="left hide-on-med-and-down">
					<li><a th:href="@{/home}" th:text="#{nav.accueil}"></a></li>
					<li><a th:href="@{/lastpublications}" th:text="#{nav.derPub}"></a></li>
					<li><a th:href="@{/research}" th:text="#{nav.recherche}"></a></li>
					<li><a th:href="@{/profile}" th:text="#{nav.profil}"></a></li>
				</ul>
				<ul id="nav-mobile" class="right hide-on-med-and-down">								    
					<li style = "margin-right: 10px;font-weight: bold;font-size: 14px; color: white;">
						<span th:text="#{nav.co}"></span> <span id="headerDisplayname" th:text="${member.displayname}"></span>
					</li>
					<li>
						<a style ="font-weight: bold;font-size: 14px;" th:href="@{/logout}" th:text="#{nav.deco}"></a>
					</li>				
				</ul>
			</div>
		</nav>
	</header>

</body>

</html>
