<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>

	<header th:fragment="header">
		<center>
			<h1>
				Projet Cephée <img src="img/logo.png" height="100" width="100" />
			</h1>
		</center>
		
		<div style="float:right" id="account-box">
			<ul>
			    <i class="material-icons">face</i>
				<li th:text="' ' + ${member.firstname}" />
			</ul>
		</div>
		<nav>
			<div class="nav-wrapper">
				<ul id="nav-mobile" class="left hide-on-med-and-down">
					<li><a th:href="@{/home}">Accueil</a></li>
					<li><a th:href="@{/lastPubli}">Dernières publications</a></li>
					<li><a th:href="@{/research}">Rechercher</a></li>
					<li><a th:href="@{/profile}">Profil</a></li>
					<li><a th:href="@{/disconnect}">Déconnexion</a></li>
				</ul>
			</div>
		</nav>
	</header>

</body>

</html>
