@media only screen and (min-width: 993px) { 
	
	#PASprofileBigScreen {
		display:flex;
	}
	
	#profileMenu {
		position:sticky;
		top:60px;
	}
	
	#profileMenu ul > li > a {
		height:70px;
		width:100%;
		margin:10px;
	}
	
	/* CARDS VOS PUBLICATIONS */
	#divpubli span.card-title {
		height:50px;
		font-size:19px !important;
		line-height:21px;
		overflow:hidden;
	}
	
	#divpubli div.card-content {
		padding:20px;
	}
	
	#divpubli div.card-content p.card-text {
		overflow:scroll;
		height:132px;
	}
	
	#divpubli div.card-content p.card-text::-webkit-scrollbar {
		width:0 !important;
	}
	
}

@media only screen and (min-width: 601px) and (max-width: 992px) { 
	
	#PASprofileMenu {
		width:100%;
		margine-left:15px;
	}
	
	#profileMenu ul > li > a {
		height:70px;
		width:100%;
		margin:10px;
	}
	
}

@media only screen and (min-width: 0px) and (max-width: 600px) { 
	
	#PASprofileMenu {
		width:100%;
		margine-left:15px;
	}
	#profileMenu ul > li {
		padding: 0;
	}
	
	#profileMenu ul > li > a {
		height:70px;
		width:100%;
/* 		margin:10px; */
	}
	
	#profileMenu ul > li > a > span {
		display:none;
	}
	
 	#profileMenu ul > li > a > i {
 		width:100%;
 	}
	
}