@font-face {
  font-family: "Nuernberg";
  src: url("../fonts/nuernberg/NuernbergMesse.woff") format("woff"), url("../fonts/nuernberg/NuernbergMesse.otf") format("otf");
  font-weight: 500;
}

goodvibes {
  font-family: "Nuernberg";
  font-size: 100px;
}

#myselect 
{
	display : block !important;
}
buttonprofile {
	height:200px;
	width:200px
}