@font-face {
	font-family: "Nuernberg";
	src: url("../fonts/nuernberg/NuernbergMesse.woff") format("woff"),
		url("../fonts/nuernberg/NuernbergMesse.otf") format("otf");
	font-weight: 500;
}

goodvibes {
	font-family: "Nuernberg";
	font-size: 70px;
}

#myselect {
	display: block !important;
}

buttonprofile {
	height: 200px;
	width: 200px
}

.inputClock{
    position:relative;
    padding:0;
    margin:0;
}

.timepicker { 
    height:20px;
    margin:0;
    padding-left:30px;
}

#input_img {
    position:absolute;
    bottom:8px;
    left:10px;
    width:100px;
    height:100px;
}

.center-cols > .col {
  float:none; /* disable the float */
  display: inline-block; /* make blocks inline-block */
  text-align: initial; /* restore text-align to default */
}

header {
	position:sticky;
	top:-105px;
	z-index:1000;
}

center {
	background:url("img/spiration-light.png");
}