<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Créer votre projet</title>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet" />
<link type="text/css" rel="stylesheet" href="css/materialize.min.css"
	media="screen,projection" />
<link type="text/css" rel="stylesheet" href="css/style.css"
	media="screen,projection" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" media="all"
	th:href="@{/css/selectorPublication.css}"
	href="/css/selectorPublication.css" />
</head>

<body background="img/spiration-light.png">
	<div th:replace="fragments/header :: header">&nbsp;</div>
	<script type="text/javascript" th:src="@{/js/multipleSelector.js}"></script>
	<script type="text/javascript" th:src="@{/js/publicationFunc.js}"> </script>
	<script>checkForm()</script>
	<goodvibes>Créer votre projet</goodvibes>
	<form action="#" th:action="@{/registerproject}"
		th:object="${publicationForm}" method="post">
		<p>
			Titre : <input type="text" th:field="*{title}" id="titre"
				onchange="checkForm()" />
		</p>

		<p>
			Description : <input type="text" th:field="*{content}" id="content"
				onchange="checkForm()" />
		</p>

		<!--  <form th:object="${user}" action="index.html" th:action="@{/save}" method="post">
			<input type="hidden" th:field="*{id}" />-->
		<br />

		<h3>Choisissez une ou plusieurs categories</h3>
		<div class="categoryClass">
			<ul class="options">
			</ul>
			<select style="display: block;" onchange="selectIngredient(this);" th:field="*{listCategory}">
				<option th:value="null"></option>
				<option th:each="catego : ${categoryList}" th:value="${{catego.id}}"
					th:text="${catego.title}"></option>
			</select>
		</div>

		<h3>Choisissez une ou plusieurs competences</h3>
		<div class="competenceClass">
			<ul class="options">
			</ul>
			<select style="display: block;" onchange="selectIngredient(this);"
				th:field="*{listCompetence}">
				<option th:value="null"></option>
				<option th:each="comp : ${competenceList}" th:value="${{comp.id}}"
					th:text="${comp.description}" th:field="*{listCompetence}"></option>
			</select>
		</div>

		<p>
			<input type="submit" value="Fin Creation Projet" id="boutonCreation"
				disabled="disabled" /> <input type="reset" value="Reset" />
		</p>
	</form>
	<a th:href="@{/home}">Retour à l'accueil </a>

</body>

</html>

