<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Créer votre evenement</title>
<link rel='stylesheet prefetch' 
href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css'/>
<link rel="stylesheet" type="text/css" media="all"
	th:href="@{/css/selectorPublication.css}"
	href="/css/selectorPublication.css" />
<link rel='stylesheet prefetch' 
href='https://cdn.rawgit.com/chingyawhao/materialize-clockpicker/master/dist/css/materialize.clockpicker.css'/>

</head>
<body background="img/spiration-light.png">
	<script type="text/javascript"
		src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script type="text/javascript" src="js/materialize.min.js"></script>

	<script type="text/javascript" th:src="@{/js/multipleSelector.js}"></script>
	<script type="text/javascript" th:src="@{/js/calendarFunc.js}"></script>
	<script>checkEverything()</script>
	<form action="#" th:action="@{/registerevent}"
		th:object="${publicationForm}" method="post">
		<p>
			Titre : <input type="text" th:field="*{title}" id="titre"
				onchange="checkEverything()" />
		</p>
		<p>
			Description : <input type="text" th:field="*{content}" id="content"
				onchange="checkEverything()" />
		</p>

		<p>
			Lieu de l'evenement : <input type="text" th:field="*{location}"
				id="location" onchange="checkEverything()" />
		</p>
		<div id="warningDate" style="visibility: hidden">Vous ne pouvez
			choisir une date de fin anterieure à celle de debut</div>

		<p>
			<input id="dateStart" type="date" name="date de debut de l'evenement"
				th:field="*{startevent}" onchange="checkEverything()" /> <input
				id="timeStart" type="time" name="Heure de debut"
				th:field="*{hourstartevent}" onchange="checkEverything()" />
		</p>

		<p>
			<input id="dateEnd" type="date" name="date de fin de l'evenement"
				th:field="*{endevent}" onchange="checkEverything()" /> <input
				class="without" id="timeEnd" type="time" name="Heure de fin"
				th:field="*{hourendevent}" onchange="checkEverything()" />
		</p>


		<div class="row">
			<div class="input-field col s12">
				<label for="timepicker_ampm_dark">Cliquez ici pour choisir
					une heure</label> <input id="timepicker_ampm_dark" class="timepicker"
					type="time" />
			</div>
		</div>
		
		<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js'></script>
		<script src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js'></script>
		<script src='https://cdn.rawgit.com/chingyawhao/materialize-clockpicker/master/dist/js/materialize.clockpicker.js'></script>
		
		 <script  src="js/timePicker.js"></script>
		 
		<script>maxToday()</script>

		<h3>Choisissez une ou plusieurs categories</h3>
		<div class="categoryClass">
			<ul class="options">
			</ul>
			<select onchange="selectIngredient(this);" th:field="*{listCategory}">
				<option th:value="null"></option>
				<option th:each="catego : ${categoryList}" th:value="${{catego.id}}"
					th:text="${catego.title}"></option>
			</select>
		</div>

		<h3>Choisissez une ou plusieurs competences</h3>
		<div class="competenceClass">
			<ul class="options">
			</ul>
			<select onchange="selectIngredient(this);"
				th:field="*{listCompetence}">
				<option th:value="null"></option>
				<option th:each="comp : ${competenceList}" th:value="${{comp.id}}"
					th:text="${comp.description}"></option>
			</select>
		</div>

		<p>
			<input id="boutonCreation" type="submit"
				value="Fin Creation Evenement" disabled="disabled" /> <input
				type="reset" value="Reset" />
		</p>
	</form>
	<a th:href="@{/home}">Retour à l'accueil </a>
</body>
</html>