<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Créer votre echange de service</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<script type="text/javascript" th:src="@{/js/publicationFunc.js}"> </script>
	<script>checkForm()</script>
	<form action="#" th:action="@{/registerexchange}"
		th:object="${publicationForm}" method="post">
		<p>
			Titre : <input type="text" th:field="*{title}"  id="titre" onchange="checkForm()" />
		</p>

		<p>
			Description : <input type="text" th:field="*{content}" onchange="checkForm()" id="content"/>
		</p>
		
		<p>
			<input type="submit" value="Fin Creation Projet" id="boutonCreation" disabled="disabled"/> <input
				type="reset" value="Reset" />
		</p>
		
	</form>
	<a th:href="@{/home}">Retour à l'accueil </a>
</body>
</html>