<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Créer votre publication</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<form action="#" th:action="@{/createPublication}"
		th:object="${publicationForm}" method="post">
		<p>
			Titre : <input type="text" th:field="*{title}" />
		</p>
		<p>
			<span th:if="${#fields.hasErrors('title')}" th:errors="*{title}"
				th:errorclass="fieldError">title Error</span>
		</p>
		<p>
			Description : <input type="text" th:field="*{content}" />
		</p>
		<p>
			<input type="submit" value="Créer Publication" /> <input type="reset" value="Reset" />
		</p>
	</form>
</body>
</html>