<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Créer votre évenement</title>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet" />
<link rel="stylesheet" type="text/css" media="all"
	href="/css/materialize.css" />
<link rel="stylesheet" type="text/css" media="all"
	href="/css/materialize.min.css" />
<link type="text/css" rel="stylesheet" href="css/style.css"
	media="screen,projection" />
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body background="img/spiration-light.png">
	<div th:replace="fragments/header :: header">&nbsp;</div>
	<script type="text/javascript"
		src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script type="text/javascript" th:src="@{/js/multipleSelector.js}"></script>
	<script type="text/javascript" th:src="@{/js/calendarFunc.js}"></script>
	<script type="text/javascript" th:src="@{js/materialize.min.js}"></script>
	<script>
		checkEverything()
	</script>

	<div class = "row" style="padding-top: 50px">
		<form class = "col s6 offset-s3" style="background-color: white" action="#" th:action="@{/registerevent}"
			th:object="${publicationForm}" method="post">
			
			<goodvibes style="font-size: 20px">Créer votre evenement</goodvibes>
			
			<!-- Titre -->
			<div class="row">
       			<div class="input-field col s12">
       				<i class="material-icons prefix">title</i>
          			<input id="titre" type="text" th:field="*{title}" onKeyUp="checkEverything()"/>
         			<label for="titre">Titre de l'évenement</label>
        		</div>
      		</div>
			
			
			<!-- Description -->
			<div class="row">
       			<div class="input-field col s12">
          			<i class="material-icons prefix">description</i>
          			<textarea id="content" class="materialize-textarea" data-length="250" th:field="*{content}" onKeyUp="checkEverything()"></textarea>
         			<label for="content">Description</label>
        		</div>
      		</div>
			
	
			<!-- Lieu -->
			<div class="row">
       			<div class="input-field col s12">
       				<i class="material-icons prefix">location_on</i>
          			<input id="location" type="text" class="validate" th:field="*{location}" onKeyUp="checkEverything()"/>
         			<label for="location">Lieu de l'evenement</label>
        		</div>
      		</div>
			
	
			
			
			<div class="row">
       			<div class="input-field col s12">
	       				<i class="material-icons prefix">date_range</i>
	          			<input id="dateStart" type="date" class="datepicker" th:field="*{startevent}" onKeyUp="checkEverything()"/>
	         			<label for="dateStart">Date de l'évènement</label>
        		</div>
      		</div>
			
	
			<!-- Heure -->
			<div class="row">
       			<div class="input-field col s12">
					<div class="inputClock">
						<i class="material-icons prefix">access_time</i>
						<input value="Choisissez votre heure" id="timeStart"
							class="timepicker" type="text" onKeyUp="checkEverything()"
							th:field="*{hourstartevent}" />
						<label for="timeStart">Heure de l'évènement</label>
					</div>
				</div>
			</div>
	
			<div class="input-field col s12">
				<select multiple="multiple" th:field="*{listCategory}">
					<option value="" disabled="disabled" selected="selected">Choisissez vos catégories de publication</option>
					<option th:each="catego : ${categoryList}" th:value="${{catego.id}}"
						th:text="${catego.title}"></option>
				</select> 
			</div>
	
	
			<button class="btn waves-effect waves-light" id="boutonCreation"
				type="submit" name="action" disabled="disabled">
				Fin Creation Evenement <i class="material-icons right">send</i>
			</button>
	
		</form>
	</div>
</body>
		<script>
					$('.timepicker').pickatime({
				    default: 'now',
				    twelvehour: false, // change to 12 hour AM/PM clock from 24 hour
				  autoclose: true
				});
		</script>
		<script>
		$('.datepicker').pickadate({
		    selectMonths: true, // Creates a dropdown to control month
		    selectYears: 15, // Creates a dropdown of 15 years to control year,
		    today: 'Today',
		    clear: 'Clear',
		    close: 'Ok',
		    format: 'dd-mm-yyyy',
		    closeOnSelect: false // Close upon selecting a date,
		  });
		</script>
		<script>
					maxToday()
		</script>
		<script> $(document).ready(function() {
			    $('select').material_select(); });
		</script>
</html>

