<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Créer votre annonce</title>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet" />
<link type="text/css" rel="stylesheet" href="css/materialize.min.css"
	media="screen,projection" /> 
<link type="text/css" rel="stylesheet" href="css/style.css"  media="screen,projection"/>
<link rel="stylesheet" type="text/css" media="all"
	th:href="@{/css/selectorPublication.css}"
	href="/css/selectorPublication.css" /> 
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body background="img/spiration-light.png">
	<script type="text/javascript"
		src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<div th:replace="fragments/header :: header">&nbsp;</div>
		<script type="text/javascript" src="js/materialize.min.js"></script>
	<script type="text/javascript" th:src="@{/js/publicationFunc.js}"></script>
	<script>
		$(document).ready(function() {
			$('select').material_select();
		});
	</script>
	<script>
		checkForm()
	</script>
	
	<div class = "row" style="padding-top: 50px">
		<form class = "col s6 offset-s3" style="background-color: white" action="#" th:action="@{/registerannonce}"
			th:object="${publicationForm}" method="post">
			<goodvibes style="font-size: 20px">Créer votre Annonce</goodvibes>
			
			<!-- Titre -->
			<div class="row">
       			<div class="input-field col s12">
       				<i class="material-icons prefix">title</i>
          			<input id="titre" type="text" class="validate" th:field="*{title}" onchange="checkForm()"/>
         			<label for="titre">Titre de l'Annonce</label>
        		</div>
      		</div>
			
			<!-- Content -->
			<div class="row">
       			<div class="input-field col s12">
          			<i class="material-icons prefix">description</i>
          			<textarea id="content" class="materialize-textarea" data-length="120" th:field="*{content}" onchange="checkForm()"></textarea>
         			<label for="content">Description</label>
        		</div>
      		</div>
	
			<div class="input-field col s12">
				<select multiple="multiple" th:field="*{listCategory}">
					<option value="" disabled="disabled" selected="selected">Choisissez vos catégories de publication</option>
					<option th:each="catego : ${categoryList}" th:value="${{catego.id}}"
						th:text="${catego.title}"></option>
				</select> 
			</div>
	
			<button class="btn waves-effect waves-light" id="boutonCreation"
				type="submit" name="action" disabled="disabled">
				Fin Creation Annonce <i class="material-icons right">send</i>
			</button>
		</form>
	</div>
</body>
</html>