<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Créer votre projet</title>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet" />
<link type="text/css" rel="stylesheet" href="css/materialize.min.css"
	media="screen,projection" /> 
<link type="text/css" rel="stylesheet" href="css/style.css"  media="screen,projection"/>
<link rel="stylesheet" type="text/css" media="all"
	th:href="@{/css/selectorPublication.css}"
	href="/css/selectorPublication.css" /> 
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body background="img/spiration-light.png">
	<script type="text/javascript"
		src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script type="text/javascript" src="js/materialize.min.js"></script>
	<div th:replace="fragments/header :: header">&nbsp;</div>
	<script type="text/javascript" th:src="@{/js/multipleSelector.js}"></script>
	<script type="text/javascript" th:src="@{/js/publicationFunc.js}"></script>
	<script>checkForm()</script>
	<script> $(document).ready(function() {
	    $('select').material_select();
	  });</script>
	  
	<goodvibes>Créer votre projet</goodvibes>
  
	<form action="#" th:action="@{/registerproject}"
		th:object="${publicationForm}" method="post">
		<p>
			Titre : <input type="text" th:field="*{title}" id="titre"
				onchange="checkForm()" />
		</p>

		<p>
			Description : <input type="text" th:field="*{content}" id="content"
				onchange="checkForm()" />
		</p>

		<div class="input-field col s12">
			<select multiple="multiple" th:field="*{listCategory}">
				<option value="" disabled="disabled" selected="selected">Choisissez vos catégories de publication</option>
				<option th:each="catego : ${categoryList}" th:value="${{catego.id}}"
					th:text="${catego.title}"></option>
			</select> 
		</div>
		
		<div class="input-field col s12">
			<select multiple="multiple" th:field="*{listCompetence}">
				<option value="" disabled="disabled" selected="selected">Choisissez vos compétences pour la publication</option>
				<option th:each="competence : ${competenceList}" th:value="${{competence.id}}"
					th:text="${competence.title}"></option>
			</select> 
		</div>		
		<button class="btn waves-effect waves-light" id="boutonCreation"
			type="submit" name="action" disabled="disabled">
			Fin Creation Projet <i class="material-icons right">send</i>
		</button>
	</form>

</body>

</html>

