<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Détails Annonce</title>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet" />
<link type="text/css" rel="stylesheet" href="css/materialize.min.css"
	media="screen,projection" />
<link type="text/css" rel="stylesheet" href="css/style.css"
	media="screen,projection" />
<meta name="viewport" content="width=device-width, initial-scale=1.0"
	charset="UTF-8" />
</head>
<body background="img/spiration-light.png">

	<div th:replace="fragments/header :: header">&nbsp;</div>

	<goodvibes style="margin-left: 300px;font-size: 50px;">Détails Annonce</goodvibes>

	<div class="row">
		<div class="col s12 m8 offset-m2">
			<div class="card yellow darken-1">
				<div class="card-content white-text">
					<h3 th:text="${publi.title}"></h3>
					<div id="ownPublication"
						th:style="${member.login} != ${publi.author.login} ? 'display:none'">
						<div class="fixed-action-btn horizontal"
							style="position: absolute;; right: 20px; top: 20px">
							<a class="btn-floating btn-large red"> <i
								class="large material-icons">mode_edit</i>
							</a>
							<ul>
								<li>
									<form action="#" th:action="@{/deletepublication}"
										th:object="${publi}" method="post">
										<button class="btn-floating red" id="boutonSuppression"
											type="submit" name="action"
											title="Supprimer cette publication">
											<i class="material-icons right">delete_forever</i>
										</button>
									</form>
								</li>

								<li>
									<form action="#" th:action="@{/updateannonce}"
										th:object="${publi}" method="post">
										<button class="btn-floating green" id="boutonModifier"
											type="submit" name="action"
											title="Modifier cette publication">
											<i class="material-icons right">loop</i>
										</button>
									</form>
								</li>

								<li>
									<form action="#" th:action="@{/notpublish}"
										th:object="${publi}" method="post">
										<button class="btn-floating blue" id="boutonMasquer"
											type="submit" name="action" title="Masquer cette publication">
											<i class="material-icons right">lock_outline</i>
										</button>
									</form>
								</li>

								<li>
									<form action="#" th:action="@{/publish}" th:object="${publi}"
										method="post">
										<button class="btn-floating yellow" id="boutonApparition"
											type="submit" name="action"
											title="Faire apparaître cette publication">
											<i class="material-icons right">lock_open</i>
										</button>
									</form>
								</li>
							</ul>
						</div>
					</div>
				<p>
					<span style="font-size: 20px;"
						th:text="'Auteur: ' + ${publi.author.login}"></span>
				</p>
				<p>
					<span style="font-size: 20px;"
						th:text="'créé le: ' + ${#dates.format(publi.dateCreation, 'dd-MM-yyyy')}"></span>
				</p>

				<i class="material-icons">school</i> <span th:text="'Catégories : '"></span>
				<ul>
					<th:block th:object="${publi}" th:each="it : ${publi.category}">
						<li th:text="${it.title}"></li>
					</th:block>
				</ul>

			</div>
			<div class="card white">

				<div class="card-content black-text">



					<h5>Description:</h5>
					<p th:text="${publi.content}"></p>
				</div>
			</div>
		</div>
	</div>
	</div>



	<div th:replace="fragments/footer :: footer">&nbsp;</div>
</body>
</html>