<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title th:text="#{home.title}"></title>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
<link type="text/css" rel="stylesheet" href="css/materialize.min.css" media="screen,projection" />
<link type="text/css" rel="stylesheet" href="css/style.css" media="screen,projection" />
<meta name="viewport" content="width=device-width, initial-scale=1.0"
	charset="UTF-8" />
</head>


<body background="img/spiration-light.png">

<main>
	<div th:replace="fragments/header :: header">&nbsp;</div>

	<script>
		$(document).ready(function(){
		    $('ul.tabs').tabs({
		    	swipeable:true;
		    });
		});
	</script>
	
	
	
	<div class="row">
	    <div class="col s12">
	      <ul id="tabs-swipe-demo" class="tabs tabs-fixed-width" style="height:70px;">
	        <li class="tab col s3"><a class="active" href="#tab1" style="font-size:20px;" th:text="#{home.derPub}"></a></li>
	        <li class="tab col s3"><a href="#tab2" style="font-size:20px;" th:text="#{home.pubRech}"></a></li>
	        <li class="tab col s3"><a href="#tab3" style="font-size:20px;" th:text="#{home.particip}"></a></li>
	      </ul>
	    </div>
	    <!-- Les dernières publications -->
	    <div id="tab1" class="col s12">
	    	
	    	<div class="carousel" data-indicators="true" style="height:800px;">
				<div class="carousel-item" style="height:600px; width:600px;" th:each="item : *{listlasttenpub}">
					<!-- Evenements -->
					<div th:replace="fragments/event :: eventLong"></div>	
					
					<!-- Projets -->
					<div th:replace="fragments/project :: projectLong"></div>
					
					<!-- Annonces -->
					<div th:replace="fragments/annonce :: annonceLong"></div>
					
				</div>
	  		</div>
	    	
	    </div>
	    
	    <!-- Les publication que vous recherchez -->
	    <div id="tab2" class="col s12">
	    
	    	<div class="carousel" data-indicators="true" style="height:800px;">
				<div class="carousel-item" style="height:600px; width:600px;" th:each="item : *{finalFiltredPub}">
				<!-- <div class="carousel-item" style="height:600px; width:600px;" th:each="item2 : *{listlasttenpub}"> -->
					<!-- Evenements -->
					<div th:replace="fragments/event :: eventLong"></div>
					
					<!-- Projets -->
					<div th:replace="fragments/project :: projectLong"></div>
					
					<!-- Annonces -->
					<div th:replace="fragments/annonce :: annonceLong"></div>
					
				</div>
	  		</div>
	    </div>
	    
	    
	    <div id="tab3" class="col s12">
	    <style>
			.card-part1 {
				height: 150px;
			}
			.card-part2 {
				height: 250px;
			}
			.titre {
				white-space : nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
				font-size: 35px;
			}
		</style>
	
		<!-- Les evenements auxquels vous participez -->
		<div class="row">
			<!-- <div class="col s12 m4 offset-m1" style="height: 500px; overflow: hidden; text-overflow: ellipsis;" th:each="item3 : *{listparticipateuser}"> -->
			<div class="col s12 m4 offset-m1" style="height: 500px; overflow: hidden; text-overflow: ellipsis;" th:each="item : *{listparticipateuser}">
				
				<!-- Evenements -->
				<div th:replace="fragments/event :: event"></div>
				
				
				
				
			</div>
		</div>
		    </div>
	  	</div>

	<style>
		body {
    		display: flex;
   			min-height: 100vh;
    		flex-direction: column;
  		}

  		main {
    		flex: 1 0 auto;
  		}
	</style>

</main>

	<div th:replace="fragments/footer :: footer">&nbsp;</div>


</body>
<script>
 $(document).ready(function(){
      $('.carousel').carousel();
    });
//Next slide
 $('.carousel').carousel('next');
 $('.carousel').carousel('next', 3); // Move next n times.

 // Previous slide
 $('.carousel').carousel('prev');
 $('.carousel').carousel('prev', 4); // Move prev n times.

 // Set to nth slide
 $('.carousel').carousel('set', 4);

 // Destroy carousel
 $('.carousel').carousel('destroy');
 
	$(document).ready(function(){
	    //$('ul.tabs').tabs();
	    $('ul.tabs').tabs({ 
	    	 //swipeable : true
	    });
	});
 </script>
</html>