<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Getting Started: Handling Form Submission</title>
	<meta name="viewport" http-equiv="Content-Type" content="width=device-width, initial-scale=1.0, text/html" charset="UTF-8"/>
</head>
<body background="img/spiration-light.png">
	<form action="#" th:action="@{/getmemberbylogin}" th:object="${memberForm}"
		method="post">
		<p>
		<input type="text" th:field="*{login}"/>
		</p>
		<p>
		  <span th:if="${#fields.hasErrors('login')}" th:errors="*{login}" th:errorclass="fieldError">login Error</span>
		</p>
		<p>
		  <span th:if="${#fields.hasErrors('member')}" th:errors="*{member}" th:errorclass="fieldError">login Error</span>
		</p>
		<p>
			<input type="submit" value="Submit" /> <input type="reset"
				value="Reset" />
		</p>
	</form>
</body>
</html>