<!DOCTYPE html>
<html>
<head>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet" />
<link type="text/css" rel="stylesheet" href="css/materialize.min.css"
	media="screen,projection" />
<link type="text/css" rel="stylesheet" href="css/style.css"
	media="screen,projection" />
<link type="text/css" rel="stylesheet" href="css/profile.css"
	media="screen,projection" />
<meta name="viewport" content="width=device-width, initial-scale=1.0"
	charset="UTF-8" />
</head>


<body background="img/spiration-light.png">

<main>
	<div th:replace="fragments/header :: header">&nbsp;</div>

	<div id="profileBigScreen" class="row">
profile
		<div th:replace="profileHeader">&nbsp;</div>

		<div id="divmesinformations" class="col s12 m6 l4" style="display: block">

			<p>
				<goodvibes style="font-size: 25px">Ses informations</goodvibes>
			</p>

			<goodvibes style="font-size: 15px">Son pseudo : </goodvibes>
			<p th:text="${memberprofile.displayname}"></p>
			<goodvibes style="font-size: 15px">Sa description : </goodvibes>
			<p th:text="${memberprofile.description}"></p>
			<br></br>
			<goodvibes style="font-size: 15px">Son email : </goodvibes>
			<p th:text="${memberprofile.email}"></p>
			<a th:if="${member.isAdmin}" class="waves-effect green darken-1 btn"
					th:href="@{/editprofile(displayname=${memberprofile.displayname})}" style="height: 40px; width: 200px;">Editer</a>
		
			<div id="contactMember" th:if="${member.isActivated}">
		
			 	<!-- Modal Trigger -->
				<a
					class="waves-effect waves-light btn modal-trigger blue"
					href="#modal1">Contacter<i class="material-icons right">contact_mail</i></a>
	
				<!-- Modal Structure -->
				<div
					id="modal1"
					class="modal">
					<div
						class="modal-content"
						style="background-color: white;">
	
	
						<form class="col s12" action="#" th:action="@{/sendemailfromprofile}" th:object="${emailForm}" method="post"
							style="background-color: white; clear: both; margin-bottom: 20px;">
							<p>
								<goodvibes style="font-size: 30px">Votre message :</goodvibes>
							</p>
	
							<label for="object">Titre :</label>
							<input id="object" name="object" type="text"></input> 
							<label for="content" th:text="'Contenu : '"></label>
							<textarea class="materialize-textarea" data-length="500" id="content" name="content"></textarea>
	
							<input id="memberprofileReceiver" name="receiverId" type="text" th:value="${memberprofile.id}" style="display: none;"></input>
	
							<button	class="btn waves-effect waves-light" id="buttonEditProfile" type="submit" name="action">
								Envoyer par e-mail <i class="material-icons right">send</i>
							</button>
						</form>
					</div>
				</div>
			</div>
		</div>
		<div id="divmescompetences" class="col s12 m6 l4" style="margin-top:10px; display: none">

			<goodvibes style="font-size: 25px">Ses compétences</goodvibes>

			<ul id="mySkills">
				<li th:each="skill : *{skills}">
					<p
						th:text="${skill.competence.title} + ' [Niv:' + ${skill.level} + ']'"></p>
				</li>
			</ul>
		</div>



		<!--  
		<ul id="allCompetences">
		    <li th:each="competence : *{competences}">
		    	<p th:text="${competence.title}"></p>
		    </li>
		</ul>
        <div class="row">
       		<form class="col s12" action="#" th:action="@{/skillprofileregister}" th:object="${profileSkillForm}" method="post">
         		<div class="row">
           			<div class="input-field col s12">
            			<p>
							Nom : <input id="skillName" type="text" name="skillName" th:field="*{competenceTitle}" />
						</p>
						
						<p>
							Niveau : <input id="skillLevel" type="text" name="skillLevel" th:field="*{level}" />
						</p>
   					</div>
           		</div>
				 <button class="btn waves-effect waves-light" value="Ajouter" type="submit" name="action" id="buttonAddSkill">Submit
   					 <i class="material-icons right">send</i>
  				</button>
			</form>
			  		</div>
			
			-->

		<div id="divpubli" class="col s12 m12 l8" style="margin-top:10px; display: none;">
			<goodvibes style="font-size: 35px">Ses publications</goodvibes>
			<div class="row">
				<div th:each="item : *{publications}" class="col s12 m6 l3">
					<div th:if="${item.authorised}" th:switch="${item.class.name}">
						<div th:case="'fr.cephee.unilille.model.PublicationEvent'" class="card light-blue lighten-3" style="height:250px; -moz-box-shadow: 0px 10px 5px 0px #656565; -webkit-box-shadow: 0px 10px 5px 0px #656565; -o-box-shadow: 0px 10px 5px 0px #656565; box-shadow: 0px 10px 5px 0px #656565; filter: progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=180, Strength=5);">
							<div class="card-content black-text" style="height:200px">
								<span style="overflow: hidden; text-overflow: ellipsis; color: white; font-size: 1.5em; line-height: 110%; margin: 1.46rem 0 2rem 0;"
									th:text="${item.title}"></span>
								<p class="card-text"
									style="overflow: auto; margin-top: 5%; color: white"
									th:text="${#dates.format(item.dateCreation, 'dd-MM-yyyy')}"></p>
							</div>
							<div class="card-action white">
								<a th:href="@{/seedetailspublication(id=${item.id})}">voir détails</a>
							</div>
						</div>
						<div th:case="'fr.cephee.unilille.model.PublicationProject'"
							class="card teal lighten-3"
							style="height: 250px; -moz-box-shadow: 0px 10px 5px 0px #656565; -webkit-box-shadow: 0px 10px 5px 0px #656565; -o-box-shadow: 0px 10px 5px 0px #656565; box-shadow: 0px 10px 5px 0px #656565; filter: progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=180, Strength=5);">
							<div class="card-content black-text" style="height:200px">
								<span style="overflow: hidden; text-overflow: ellipsis; color: white; font-size: 1.5em; line-height: 110%; margin: 1.46rem 0 2rem 0;"
									th:text="${item.title}"></span>
								<p class="card-text"
									style="overflow: auto; margin-top: 5%; color: white"
									th:text="${#dates.format(item.dateCreation, 'dd-MM-yyyy')}"></p>
							</div>
							<div class="card-action white">
								<a th:href="@{/seedetailspublication(id=${item.id})}">voir détails</a>
							</div>
						</div>
						<div th:case="'fr.cephee.unilille.model.PublicationAnnonce'"
							class="card yellow darken-1"
							style="height: 250px; -moz-box-shadow: 0px 10px 5px 0px #656565; -webkit-box-shadow: 0px 10px 5px 0px #656565; -o-box-shadow: 0px 10px 5px 0px #656565; box-shadow: 0px 10px 5px 0px #656565; filter: progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=180, Strength=5);">
							<div class="card-content black-text" style="height:200px">
								<span style="overflow: hidden; text-overflow: ellipsis; color: white; font-size: 1.5em; line-height: 110%; margin: 1.46rem 0 2rem 0;"
									th:text="${item.title}"></span>
								<p class="card-text"
									style="overflow: auto; margin-top: 5%; color: white"
									th:text="${#dates.format(item.dateCreation, 'dd-MM-yyyy')}"></p>
							</div>
							<div class="card-action white">
								<a th:href="@{/seedetailspublication(id=${item.id})}">voir détails</a>
							</div>
						</div>
					</div>
					<div th:unless="${item.authorised == false}" th:switch="${item.class.name}">
						
					</div>
				</div>
			</div>
		</div>

		<div id="divrecherche" class="col s12 m12 l8" style="margin-top:10px; display: none;">
			<goodvibes style="font-size: 35px">Ce qu'il recherche</goodvibes>
		</div>

		<div id="divnotif" class="col s12 m12 l8" style="margin-top:10px; display: none;">
			<goodvibes style="font-size: 35px"> Ses participations </goodvibes>
		</div>

	</div>
</main>
	<style>
		body {
    		display: flex;
   			min-height: 100vh;
    		flex-direction: column;
  		}

  		main {
    		flex: 1 0 auto;
  		}
	</style>

	<div th:replace="fragments/footer :: footer">&nbsp;</div>

</body>
	<script>
		  $(document).ready(function(){
		    // the "href" attribute of the modal trigger must specify the modal ID that wants to be triggered
		    $('.modal').modal({  startingTop: '90%,'});
		  });
  </script>
</html>
