 <!DOCTYPE html>
  <html>
    <head>
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
     	<link type="text/css" rel="stylesheet" href="css/materialize.min.css" media="screen,projection" />
		<link type="text/css" rel="stylesheet" href="css/style.css" media="screen,projection" />
		<link type="text/css" rel="stylesheet" href="css/profile.css" media="screen,projection" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" charset="UTF-8"/>
    </head>

<body background="img/spiration-light.png">
  	<div th:replace="fragments/header :: header">&nbsp;</div>
	
	
	<div id="profileBigScreen" class="row">
	
		<div th:replace="profileHeader">&nbsp;</div>
		
	  	 <div class="col s12 m12 l8">
			<blockquote>
				<goodvibes style="font-size: 20px"> Vous n'avez pas encore créé votre profil Unilille. Pour activer votre profil, veuillez entrer vos informations en cliquant sur le bouton</goodvibes>
			</blockquote>
			 <a class="waves-effect red darken-4 btn" onclick="afficher_div('activation')" >Activation du profil</a>	
		</div>
	
		<div id="activation" class="col s12 m12 l8 ui-content row"
			style="display:none; margin-top:20px">
			<form class="col s12 m10 l8 offset-m1 offset-l2" action="#"
				th:action="@{/activateprofileregister}"
				th:object="${profileActivationForm}" method="post">
				<div>
					<label for="userDisplayname" class="ui-hidden-accessible">Pseudo : (3 à 10 caractères)</label>
					<input type="text" name="displayname" id="userDisplayname" placeholder="Pseudo" class="materialize-textarea" th:field="*{displayname}" onchange="checkActivationForm()"></input>
				
					<label for="userEmail" class="ui-hidden-accessible">Adresse email :</label>
					<input type="email" name="email" id="userEmail" placeholder="Adresse email" class="materialize-textarea" th:field="*{email}" onchange="checkActivationForm()"></input>
						
					<label for="userDescription" class="ui-hidden-accessible" th:text="'Description : (' + ${DESCRIPTION_SIZE_MIN} + ' caractères minimum)'"></label>
					<textarea name="description" id="userDescription" placeholder="Décrivez vous" class="materialize-textarea" data-length="500" th:field="*{description}" onkeydown="checkActivationForm()"></textarea>
						
					<button class="btn waves-effect waves-light" id="buttonActivate" disabled="disabled" type="submit" name="action" style="margin-left: 30px;">
						Activer votre profil <i class="material-icons right">send</i>
					</button>
				</div>
			</form>
		</div>
		
	</div>

	<div th:replace="fragments/footer :: footer">&nbsp;</div>
	<script type="text/javascript" th:src="@{/js/profileControls.js}"></script>

</body>
</html>