 <!DOCTYPE html>
 <html>
 <head>
   <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
   <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
   <link type="text/css" rel="stylesheet" href="css/style.css"  media="screen,projection"/>
   <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="UTF-8"/>
 </head>


<body background="img/spiration-light.png">
	
	<div th:replace="fragments/header :: header">&nbsp;</div>
	
	<div style="float: left; margin-left: 30px;">
		<blockquote>
			<p><goodvibes th:text="'Votre profil'"></goodvibes></p>
		</blockquote>
	</div>
	
	<div th:replace="profileHeader">&nbsp;</div>
	
	<a class="waves-effect green darken-1 btn" th:href="@{/editprofile}" style="position: absolute; position: absolute; left: 1550px; top: 280px">Editer profil</a>
	
	<div id="divmesinformations" style=" position: absolute; left: 810px; top: 380px;display:none">
	
			<p><goodvibes style="font-size: 25px">Mes informations</goodvibes></p>
			
			<goodvibes style="font-size: 15px">Ma description</goodvibes>
			
			
			
			<goodvibes style="font-size: 15px">Mon mail</goodvibes>
		
		</div>
	
    <div id="divmescompetences" style=" position: absolute; left: 410px; top: 380px;display:none">
    	
		<goodvibes style="font-size: 25px">Mes compétences</goodvibes>
		
		<ul id="mySkills" >
			<li th:each="skill : *{skills}">
				<p th:text="${skill.competence.title} + ' [Niv:' + ${skill.level} + ']'"></p>
			</li>
		</ul>
	</div>	
	
	    
		
		<!--  
		<ul id="allCompetences">
		    <li th:each="competence : *{competences}">
		    	<p th:text="${competence.title}"></p>
		    </li>
		</ul>
        <div class="row">
       		<form class="col s12" action="#" th:action="@{/skillprofileregister}" th:object="${profileSkillForm}" method="post">
         		<div class="row">
           			<div class="input-field col s12">
            			<p>
							Nom : <input id="skillName" type="text" name="skillName" th:field="*{competenceTitle}" />
						</p>
						
						<p>
							Niveau : <input id="skillLevel" type="text" name="skillLevel" th:field="*{level}" />
						</p>
   					</div>
           		</div>
				 <button class="btn waves-effect waves-light" value="Ajouter" type="submit" name="action" id="buttonAddSkill">Submit
   					 <i class="material-icons right">send</i>
  				</button>
			</form>
			  		</div>
			
			-->
   
    <div id="divpubli" style="position:absolute; left:410px; top:380px; display:none;">
		<goodvibes style="margin-left: 40px;font-size: 35px">Vos publications</goodvibes>
		<ul class="row" th:each="item : *{publications}">
			<li>
				<div th:switch="${item.authorised}" class="col s12 m12 l8">
					<div th:case="true" class="card blue-grey darken-1">
						<div class="card-content white-text">
							<span class="card-title" th:text="'Titre: ' + ${item.title}"></span>
							<p th:text="${item.content}"></p>
							<p th:text="${item.dateCreation}"></p>
							<p th:text="${item.id}"></p>
						</div>
						<div class="card-action">
							<a th:href="@{/seedetailspublication(id=${item.id})}">voir détails</a>
						</div>
					</div>
					<div th:case="false" class="card blue-grey darken-4">
						<div class="card-content white-text">
							<span class="card-title" th:text="'Titre: ' + ${item.title}"></span>
							<p th:text="${item.content}"></p>
							<p th:text="${item.dateCreation}"></p>
							<p th:text="${item.id}"></p>
						</div>
						<div class="card-action">
							<a th:href="@{/seedetailspublication(id=${item.id})}">voir détails</a>
						</div>
					</div>
				</div>
			</li>
		</ul>
	</div>

    <div id="divrecherche" style="position:absolute; left:410px; top:380px; display:none;">
         <goodvibes style="font-size: 35px">Ce que vous recherchez</goodvibes>
    </div>

    <div id="divnotif" style="position:absolute; left:410px; top:380px; display:none;">
          <goodvibes style="font-size: 35px"> Vos notifications </goodvibes>
    </div>

	
	<div th:replace="fragments/footer :: footer">&nbsp;</div>

</body>
</html>
