<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body background="img/background.jpg">

	
	<div style="float:left;margin-left:30px;"><blockquote><h3 th:text="'Profil de ' + ${member.login}"></h3></blockquote></div>
	<div style="float:right;margin-right:30px;"><h3 th:text="${member.login}"></h3><img src="img/avatar.jpg" style="vertical-align:middle;margin-left:10px;" height="100" width="100"/> </div>
	

	<div style="float:left; clear:both; margin-top:50px;margin-left:30px;">
		<a class="waves-effect waves-light btn-large" onclick="afficher_div('divcompetences');masquer_div('divpubli');masquer_div('divrecherche');masquer_div('divnotif');"><i class="material-icons left">cloud</i>Vos compétences</a>
		<a class="waves-effect waves-light btn-large" onclick="afficher_div('divpubli');masquer_div('divcompetences');masquer_div('divrecherche');masquer_div('divnotif');"><i class="material-icons left">cloud</i>Vos publications</a>
		<a class="waves-effect waves-light btn-large" onclick="afficher_div('divrecherche');masquer_div('divpubli');masquer_div('divcompetences');masquer_div('divnotif');"><i class="material-icons left">cloud</i>Ce que vous recherchez</a>
		<a class="waves-effect waves-light btn-large" onclick="afficher_div('divnotif');masquer_div('divpubli');masquer_div('divrecherche');masquer_div('divcompetences');"><i class="material-icons left">cloud</i>Notifications</a>
	</div>
	
</body>

</html>