 <!DOCTYPE html>
 <html>
 <head>
   <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
   <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
   <link type="text/css" rel="stylesheet" href="css/style.css"  media="screen,projection"/>
   <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="UTF-8"/>
 </head>


<body background="img/spiration-light.png">
	
	<div th:replace="fragments/header :: header">&nbsp;</div>
	
	<div style="float: left; margin-left: 30px;">
		<blockquote>
			<p><goodvibes th:text="'Votre profil'"></goodvibes></p>
		</blockquote>
	</div>
	
	<div th:replace="profileHeader">&nbsp;</div>


    <div id="divcompetences" style="float:left;margin-right:550px;display:none">
		<h4> Vos compétences </h4>
		<ul class="row" th:each="skill : *{skills}">
			<li class="collection-item" th:text="${skill.name}">
			<span th:text="${skill.level}"></span>
			</li>
		</ul>
		
		<ul id="dropdown2" class="dropdown-content">
		    <li><a href="#!">Ici les catégories qui exsitent en base hein</a></li>
		    <li><a href="#!">Cuisine</a></li>
		    <li><a href="#!">Musique</a></li>
		</ul>
		
		<ul class="collection">
			<li class="collection-item">Sport</li>
			<li class="collection-item">Musique</li>
		</ul>
		 <ul id="dropdown2" class="dropdown-content">
		    <li><a href="#!">Sport</a></li>
		    <li><a href="#!">Cuisine</a></li>
		    <li><a href="#!">Musique</a></li>
		</ul>
		<a class="btn dropdown-button" href="#!" data-activates="dropdown2">Ajouter une compétence<i class="material-icons right">arrow_drop_down</i></a>
        <div class="row">
       		<form class="col s12">
         		<div class="row">
           			<div class="input-field col s12">
            			<textarea id="textarea1" class="materialize-textarea"></textarea>
            			<label for="textarea1">Décrivez plus en détail votre compétence</label>
   					</div>
           		</div>
           </form>
  		</div>
   	</div>

    <div id="divpubli" style="float:right;margin-right:600px;display:none">
		<h4>Vos publications</h4>
		<ul class="row" th:each="item : *{publications}">
			<li>
				<div class="col s12 m6">
					<div class="card blue-grey darken-1">
						<div class="card-content white-text">
							<span class="card-title" th:text="'Titre: ' + ${item.title}"></span>
							<p th:text="${item.content}"></p>
							<p th:text="${item.dateCreation}"></p>
							<p th:text="${item.id}"></p>
						</div>
						<div class="card-action">
							<a th:href="@{/seedetailspublication(id=${item.id})}">voir
								détails</a>
						</div>
					</div>
				</div>
			</li>
		</ul>
	</div>

    <div id="divrecherche" style="float:right;margin-right:550px;display:none">
         <h4>Ce que vous recherchez</h4>
    </div>

    <div id="divnotif" style="float:right;margin-right:600px;display:none">
          <h4> Vos notifications </h4>
    </div>

	
	<div th:replace="fragments/footer :: footer">&nbsp;</div>

</body>
</html>
