<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
	<link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection" th:href="@{/css/materialize.min.css}" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" charset="UTF-8"/>
</head>

<body>
	<div th:replace="fragments/header :: header">&nbsp;</div>

	<div style="float: left; margin-left: 30px;">
		<blockquote>
			<h3 th:text="'Profil de ' + ${member.login}"></h3>
		</blockquote>
	</div>
	
	<div th:replace="profileHeader">&nbsp;</div>	


	<div id="divcompetences" style="float:right;margin-right:550px;display:none">
		<h4>Ses compétences</h4>
		<ul class="collection">
			<li class="collection-item">Sport [static]</li>
			<li class="collection-item">Musique [static]</li>
		</ul>
		<ul id="dropdown2" class="dropdown-content">
		    <li><a href="#!">Sport [static]</a></li>
		    <li><a href="#!">Cuisine [static]</a></li>
		    <li><a href="#!">Musique [static]</a></li>
		</ul>
	</div>
	
	<div id="divpubli" style="float:right;margin-right:600px;display:none">
		<h4> Ses publications (un peu intrusif ça nan ?)</h4>
	</div>
	
	<div id="divrecherche" style="float:right;margin-right:550px;display:none">
		<h4>Ce qu'il recherche</h4>
	</div>
	
	
	<div th:replace="fragments/footer :: footer">&nbsp;</div>
	
</body>

</html>