 <!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<title>Editer mon profil</title>
<head>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
   	<link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
   	<link type="text/css" rel="stylesheet" href="css/style.css"  media="screen,projection"/>
   	<meta name="viewport" content="width=device-width, initial-scale=1.0" charset="UTF-8"/>
</head>


<body background="img/spiration-light.png">
	
	<div th:replace="fragments/header :: header">&nbsp;</div>
	
	<div style="float: left; margin-left: 30px;">
		<blockquote>
			<goodvibes th:text="'Votre profil'"></goodvibes>
		</blockquote>
	</div>
	
	
	<form action="#" th:action="@{/editprofileregister}" th:object="${profileForm}" method="post" style="clear:both">
		<label for="userEmail">Adresse email :</label>
		<input id="userEmail" name="email" type="email" th:field="*{email}" th:value="${member.email}" onchange="checkEditProfileForm()"></input>
		
		<label for="userDescription" th:text="'Description : (' + ${DESCRIPTION_SIZE_MIN} + ' caractères minimum)'"></label>
		<textarea id="userDescription" name="description" th:field="*{description}" th:value="${member.description}" onchange="checkEditProfileForm()"></textarea>
		
		<button class="btn waves-effect waves-light" id="buttonEditProfile" type="submit" name="action">Éditer votre profil <i class="material-icons right">send</i></button>
		<input type="reset" value="Reset" />
	</form>
	
	
	<div th:replace="fragments/footer :: footer">&nbsp;</div>
	<script type="text/javascript" th:src="@{/js/profileControls.js}"></script>
	
</body>

</html>