<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Rechercher des publications</title>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet" />
<link rel="stylesheet" type="text/css" media="all"
	href="/css/materialize.css" />
<link rel="stylesheet" type="text/css" media="all"
	href="/css/materialize.min.css" />
<link type="text/css" rel="stylesheet" href="css/style.css"
	media="screen,projection" />
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body background="img/spiration-light.png">
	<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script type="text/javascript" th:src="@{/js/multipleSelector.js}"></script>
	<script type="text/javascript" th:src="@{/js/publicationFunc.js}" src="@{/js/publicationFunc.js}"></script>
	<script type="text/javascript" th:src="@{/js/calendarFunc.js}"></script>
	<script type="text/javascript" th:src="@{js/materialize.min.js}"></script>
		<script> $(document).ready(function() {
	    $('select').material_select();
	  });</script>
	<div th:replace="fragments/header :: header">&nbsp;</div>


	<div class = "row" style="padding-top: 50px">
		<form class="col s6 offset-s3" style="background-color: white"
			action="#" th:action="@{/searching}" th:object="${publicationForm}"
			method="post">
	
		
			<goodvibes style="margin-left: 40px;font-size: 55px">Rechercher des publications</goodvibes>
		
			<!-- Titre -->
			<div class="row">
				<div class="input-field col s12">
					<i class="material-icons prefix">title</i> <input id="titre"
						type="text" class="validate" th:field="*{title}"/> <label for="titre">Rechercher par titre</label>
				</div>
			</div>
	
			<div class="row">
				<div class="input-field col s12">
					<i class="material-icons prefix">person</i> <input id="author"
						type="text" class="validate" th:field="*{author.login}"/> <label for="Auteur">Rechercher par auteur</label>
				</div>
			</div>
			
			<div class="input-field col s12" id="projectSelect">
				<select multiple="multiple" th:field="*{typeResearch}" id="elementType">
					<option value="" disabled="disabled" selected="selected">Rechercher par type de publication</option>
					<option th:each="type : ${typepublicationlist.getPublicationList()}" th:value="${type}"
					th:text="${type}"></option>
				</select>
			</div>

			<div class="row">
				<div class="input-field col s12">
					<select  multiple="multiple" th:field="*{listCategory}" id="elementCategory"
					onselect="checkEventSelected()">
						<option value="" disabled="disabled" selected="selected">Rechercher par catégorie</option>
						<option th:each="catego : ${categoryList}" th:value="${{catego.id}}"
							th:text="${catego.title}"></option>
					</select>
				</div>
			</div>
			
			<div class="calendarResearch" style="display:none" id="calendarSearch">
       			<div class="input-field col s12">
	       				<i class="material-icons prefix">date_range</i>
	          			<input id="dateStart" type="date" class="datepicker" th:object="${publicationEventForm}" th:field="*{startevent}"></input>
	         			<label for="dateStart">Recherche d'un évènement depuis...</label>
        		</div>
      		</div>
      		
      		<div class="calendarResearch" style="display:none" id="calendarSearch2">
       			<div class="input-field col s12">
	       				<i class="material-icons prefix">date_range</i>
	          			<input id="dateEnd" type="date" class="datepicker2" th:object="${publicationEventForm}" th:field="*{endevent}"></input>
	         			<label for="dateEnd"> ...jusqu'à...</label>
        		</div>
      		</div>
      		
			<div class="input-field col s12">
				<select multiple="multiple" th:field="*{listCompetence}">
					<option value="" disabled="disabled" selected="selected">Rechercher par compétences </option>
					<option th:each="competence : ${competenceList}"
						th:value="${{competence.id}}" th:text="${competence.title}"></option>
				</select>
			</div>
	
			<button class="btn waves-effect waves-light" id="boutonCreation"
				type="submit" name="action" >
				Lancer la recherche <i class="material-icons right">send</i>
			</button>
		</form>
	</div>
	<div th:replace="fragments/footer :: footer">&nbsp;</div>
</body>

		<script>
		$('.datepicker').pickadate({
		    selectMonths: true, // Creates a dropdown to control month
		    selectYears: 15, // Creates a dropdown of 15 years to control year,
		    today: 'Today',
		    clear: 'Clear',
		    close: 'Ok',
		    format: 'dd-mm-yyyy',
		    closeOnSelect: false // Close upon selecting a date,
		  });
		</script>
		<script>
		$('.datepicker2').pickadate({
		    selectMonths: true, // Creates a dropdown to control month
		    selectYears: 15, // Creates a dropdown of 15 years to control year,
		    today: 'Today',
		    clear: 'Clear',
		    close: 'Ok',
		    format: 'dd-mm-yyyy',
		    closeOnSelect: false // Close upon selecting a date,
		  });
		</script>
		
</html>