<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Modifier votre annonce</title>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet" />
<link type="text/css" rel="stylesheet" href="css/materialize.min.css"
	media="screen,projection" /> 
<link type="text/css" rel="stylesheet" href="css/style.css"  media="screen,projection"/>
<link rel="stylesheet" type="text/css" media="all"
	th:href="@{/css/selectorPublication.css}"
	href="/css/selectorPublication.css" /> 
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body background="img/spiration-light.png">
	<div th:replace="fragments/header :: header">&nbsp;</div>
	<script type="text/javascript"
		src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script type="text/javascript" src="js/materialize.min.js"></script>
	<script type="text/javascript" th:src="@{/js/publicationFunc.js}"> </script>
		<script> $(document).ready(function() {
	    $('select').material_select();
	  });</script>
	<goodvibes>Modifier votre annonce</goodvibes>
	<form action="#" th:action="@{/finishedupdating}"
		th:object="${publicationForm}" method="post">
		<p>
			Titre : <input type="text" th:field="*{title}" id="titre"
				onchange="checkForm()" th:value="*{title}" />
		</p>

		<p>
			Description : <input type="text" th:field="*{content}" id="content"
				onchange="checkForm()" th:value="*{content}" />
		</p>
		
		<div class="input-field col s12">
			<select multiple="multiple" th:field="*{listCategory}">
				<option value="" disabled="disabled" selected="selected">Choisissez vos catégories de publication</option>
				<option th:each="catego : ${categoryList}" th:value="${{catego.id}}"
					th:text="${catego.title}"></option>
			</select> 
		</div>
		<button class="btn waves-effect waves-light" id="boutonModifier"
			type="submit" name="action" disabled="disabled">
			Fin de Modification d'annonce <i class="material-icons right">send</i>
		</button>
	</form>
	<script>checkFormUpdate()</script>
	<div th:replace="fragments/footer :: footer">&nbsp;</div>
</body>
</html>